html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 2px solid red;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Noto Sans JP', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Noto Sans JP', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding: 25px 0px;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: 5% 0%;
  padding: 0% 2%;
  font-size: 2rem;
  color: black;
}
header nav #home {
  font-weight: bold;
}
header nav #about {
  border-right: 2px solid grey;
  border-left: 2px solid grey;
}
.container {
  width: 800px;
  max-width: 100%;
  margin: auto;
}
.container .title-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.tate.org.uk/art/images/work/T/T01/T01928_10.jpg");
  background-position: center;
  background-size: cover;
  height: 380px;
  margin: 0% 10% 3.5% 10%;
}
@media (max-width:500px) {
  .container .title-container {
    height: 250px;
  }
}
.container .title-container h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300%;
  color: white;
}
.container .title-container button {
  background-color: white;
  border: 2px solid grey;
  color: grey;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  width: 160px;
  box-shadow: 5px 5px 4px black;
}
.container .artists-container {
  border-top: 2px solid #D3D3D3;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:500px) {
  .container .artists-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.container .artists-container .artist {
  width: 48%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3% 2%;
}
@media (max-width:500px) {
  .container .artists-container .artist {
    height: 420px;
  }
}
.container .artists-container .artist a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.6rem;
  color: grey;
  margin: 3% 0%;
}
.container .artists-container .artist .bio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
@media (max-width:500px) {
  .container .artists-container .artist {
    width: 60%;
  }
}
.container .artists-container .artist .img {
  width: 80%;
  height: 200px;
  border-radius: 20px;
}
